.demo{
    height: 200px;
    width: 300px;
    margin-top: 200px;
    margin-left: 200px;
    border-radius: 50%;
    background-color:chocolate;
    border: 2px solid black;
    box-shadow: 20px 20px yellow;
    transition-duration: 1s;
    transition-timing-function:ease-in;
    transition-delay: 0s;
    animation-name: colorAnimate;
    
    

}
.demo:hover{
    background-color:deeppink;
    transform: rotate(36000deg);
    /* transform: scale(2); */
    
} 